<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:replace="layout/header :: header">
        <title>Header</title>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" layout:fragment="content">
                <h1>asdf</h1>
            </div>
        <div th:replace="layout/jsfiles :: jsfiles"></div>
    </body>
</html>