.login-box-body, .register-box-body{
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
}

.login-page, .register-page{
    background: #e9ecef !important;
}
.login-box, .register-box{
    margin:12% auto !important;
}