.login-box-body, .register-box-body{
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 5px;
    box-shadow: 0 2px 6px #999;
}

.login-page, .register-page{
    background: #e9ecef !important;
}
.login-box, .register-box{
    margin:12% auto !important;
}