.navbar-static-top .navbar-search-form{
    width: 250px;
    float: left;
}

.navbar-search-form .sidebar-form{
    margin:0 !important;
}

.navbar-search-form .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn{
    background-color: #fff !important;
}