<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>Login</title>
</head>
<body class="text-center">
<form class="form-signin" method="post" action="/login" >
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
    <label for="username" class="sr-only">Email address</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="User Name" required="" autofocus="">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
        <label class="floatL">
            <input type="checkbox" name="remember-me"  value="true"> Remember me
        </label>
        <a href="#" class="badge badge-secondary floatR" style="float: right;">Registry</a>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <div class="error-message" th:if="${param.error}">Invalid Email and Password.</div>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>
</body>
</html>